.top{
    height: 130px;
    margin-top: 0px;
}
.userlogin{
    text-align: right;
    height: 30px;
    margin-bottom: 0px;
}
.userlogin a{
    text-decoration: none;
    color: white;
    background-color: #034b8b;
    font-size: 12px;
    margin-right: 150px;
    margin-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
}
.top img {
   margin-top: 0px; 
   margin-left: 150px;
}
.xx {
    height: 60px;
    background-color: #034b8b ;
    overflow: hidden;
    padding-left: 150px;
}
.xx a{
    text-decoration: none;
    color: white;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.xx a:hover{
    background-color: #0381f2;
}
